# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

scopeName: 'source.hoon-ts'
name: 'HoonTs'
type: 'modern-tree-sitter'
parser: 'tree-sitter-hoon'

fileTypes: [
  'hoon'
]

comments:
  start: '::'

treeSitter:
  grammar: 'tree-sitter-hoon/tree-sitter-hoon.wasm'
  highlightsQuery: 'tree-sitter-hoon/highlights.scm'
